.wrapper {
    background-color: #777;
    height: 100vh;
    font-family: sans-serif;
}
.title {
    /* text-align: center; */
    margin: 0;
}
.button {
    width: 100px;
    font-size: 18px;
    margin: 8px;
}
.buttons_block {
    display: flex;
    margin-top: 10px;
    /* justify-content: center; */
}
.stats {
    color: white;
}